@charset "UTF-8";

/* ベースのスタイル
------------------------------------------ */
body {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
    line-height: 1.75;
    color: #000;
}

@media (min-width: 768px) {
    body {
        font-size: 1.125rem;
    }
}

a {
    color: #000;
    text-decoration: none;
}

a,
a:hover,
a i {
    transition: all 0.3s;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

ul {
    list-style: none;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.outfit {
    font-family: Outfit, sans-serif;
}

.medium {
    font-weight: 500;
}

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 0 .625rem 0 rgb(0 0 0 / 20%);
}

@media(min-width:768px){
    .header{
        top: 1.25rem;
        max-width: 67.5rem;
        margin: auto;
    }
}

/* ロゴ */
.header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    background-color: #554b9c;
    line-height: 0;
}

/* ハンバーガーボタン */
.hamburger-button {
    width: 4.75rem;
    height: 5rem;
    font-size: 3.125rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(min-width:768px){
    .hamburger-button{
        display: none;
    }
}
.hamburger-button i {
    line-height: 0;
}

@media (max-width: 767px) {
    .hamburger-menu {
        position: fixed;
        top: 5rem;
        left: 0;
        width: 100%;
        height: calc(100vh - 5rem);
        background-color: #fff;
        transition: all 0.6s;
        transform: translateX(100%);
    }
}

/* アクティブ状態 */
.hamburger-menu-active {
    transform: translateX(0);
}

/* ナビゲーション */
@media (max-width: 767px) {
    .hamburger-menu-list-group {
        display: table;
        width: 100vw;
        font-size: 1.875rem;
        border-top: 0.0625rem solid #000;
    }
}

@media (min-width: 768px) {
    .header-nav-list-group {
        column-gap: 1.56rem;
        height: 100%;
        padding-right: 1.6rem;
        line-height: 1;
    }
}

@media (max-width: 767px) {
    .hamburger-menu-list-group a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.72rem 2rem;
        line-height: 1;
        border-bottom: 0.0625rem solid #000;
    }

    
    .hamburger-menu-list-group li:nth-child(4) a,
    .hamburger-menu-list-group li:nth-child(5) a {
        padding: 1.5rem 2rem 1.95rem;
    }

    .hamburger-menu-list-group li:nth-child(4) a::after,
    .hamburger-menu-list-group li:nth-child(5) a::after {
        padding-top: .25rem;
    }
}

/* 右矢印アイコン */
@media (max-width: 767px) {
    .hamburger-menu-list-group a::after {
        font-family: bootstrap-icons;
        font-size: 1.5rem;
        content: "\F285";
    }
}

@media (min-width: 768px) {
    .header-nav a:hover {
        color: #ec6a00;
    }
}

.cover {
    margin-top: 5rem;
}

@media (min-width: 768px) {
    .cover {
        margin-top: 0;
    }
}

/* コンテナ */
.cover-container {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .cover-container {
        flex-direction: row-reverse;
    }
}

/* カバー画像 */
.cover-top {
    height: 20.625rem;
    background-color: #e7e9fb;
    background-image: url("../images/cover/cover_bg_sp.png");
    background-position: center;
    background-size: 85%;
}

@media (min-width: 768px) {
    .cover-top {
        width: 50%;
        height: 100vh;
        background-image: url("../images/cover/cover_bg_pc.png");
        background-position: left center;
        background-size: unset;
    }
}

@media (min-width: 768px) {
    .cover-bottom {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
    }
}

/* カバーキャッチコピー */
.cover-catch {
    margin: 3rem 1.25rem 2.7rem;
}

@media (min-width: 768px) {
    .cover-catch {
        width: 33.75rem;
        margin: .4rem 0 0 auto;
    }
}

/* カバータイトル */
.cover-title {
    display: table;
    margin-bottom: 1.25rem;
    font-size: 2.5625rem;
    color: #fff;
    line-height: 1;
    background-color: #ec6a00;
}

@media (min-width: 768px) {
    .cover-title {
        font-size: 3.15rem;
        margin-bottom: 0;
    }

    .cover-title:nth-child(1) {
        margin-bottom: 1.875rem;
    }
}

/* カバー説明 */
.cover-description {
    display: block;
    margin-top: 0.85rem;
    font-size: 1rem;
    line-height: 2;
}

@media (min-width: 768px) {
    .cover-description {
        margin-top: 2rem;
        font-size: 1.1875rem;
    }
}

.cover-scroll {
    display: none;
}

@media (min-width: 768px) {
    .cover-scroll {
        position: absolute;
        bottom: 2.8rem;
        left: 0;
        display: block;
        font-size: .8125rem;
        letter-spacing: .1rem;
        transform: rotate(-90deg);
        height: 1.2rem;
    }
}

@media (min-width: 1081px) {
    .cover-scroll {
        right: 28rem;
        left: auto;
    }
}

.cover-scroll::after {
    background-color: #554b9c;
    position: absolute;
    right: .25rem;
    bottom: 1.75rem;
    width: 5rem;
    height: .125rem;
    content: "";
}

.about {
    height: 35rem;
    padding: 6.25rem 1.25rem;
    background-image: url("../images/about/about_bg_sp.png");
    background-size: cover;
}

@media (min-width: 768px) {
    .about {
        padding-top: 7.5rem;
        padding-bottom: 7.5rem;
        background-image: url("../images/about/about_bg_pc.png");
        background-position: center center;
    }
}

/* コンテナ */
.about-container {
    padding: 2.5rem 1.75rem 2.35rem;
    background-color: rgb(255 255 255 / 90%);
    border-radius: 1.875rem;
    box-shadow: 0 0 1.5188rem 0.1688rem rgb(0 0 0 / 25%);
}

@media (min-width: 768px) {
    .about-container {
        padding: 4.35rem 5rem 4.5rem;
        max-width: 61rem;
        margin: 0 auto;
        background-color: #fff;
    }
}

/* タイトル */
.about-title {
    position: relative;
    font-size: 1.5625rem;
    color: #554b9c;
    text-align: center;
    letter-spacing: 0.015em;
    margin-bottom: 1rem;
    padding: 1.1rem 0 1.35rem;
    line-height: 1;
    border-top: 0.1875rem solid #554b9c;
    border-bottom: 0.1875rem solid #554b9c;
}

@media (min-width: 768px) {
    .about-title {
        font-size: 1.95rem;
        padding: .5rem 0;
        margin-bottom: .8rem;
        border: none;
    }
}

@media (min-width: 768px) {

    .about-title::before,
    .about-title::after {
        position: absolute;
        top: 50%;
        width: 3.125rem;
        height: 0.1875rem;
        content: "";
        background-color: #554b9c;
    }

    .about-title::before {
        right: calc(50% + 11.25rem);
    }

    .about-title::after {
        left: calc(50% + 11.25rem);
    }
}

/* 説明 */
.about-description {
    line-height: 2;
}

@media (min-width: 768px) {
    .about-description {
        line-height: 2.2;
    }
}

